.prize {
    margin-left: 15px;
    font-size: 23px;
    margin-bottom: 50px;
    line-height: 1.5em;
}

.prize-details {
    text-indent: 15px;
}

.prize-affiliated {
    margin-top: 15px;
    margin-left: 15px;
}
