<div *ngIf="laureate">
  <mat-toolbar color="primary" class="laureate-toolbar">
    <mat-toolbar-row>
      <h2 class="laureate-name">
        {{laureate.value.surname + ' ' + laureate.value.firstname}}
      </h2>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="wrap">
    <div class="laureate-content">
      <div class="laureate-details">
        <div>
          <div class="laureate-born">
            Born on {{laureate.value.born | date:format}} in
            {{laureate.value.bornCity + ', ' +
            laureate.value.bornCountry}}
          </div>
          <div class="laureate-died">
            Died on {{laureate.value.died | date:format}} 
            {{laureate.value.diedCity != undefined ? 'in ' + laureate.value.diedCity : ''}} 
            {{laureate.value.diedCountry != undefined ? laureate.value.diedCountry : ''}}
          </div>
        </div>
        <div class="img-wrap">
            <img [src]="laureate.value.picture" [alt]="laureate.value.surname + ' ' + laureate.value.firstname">
        </div>
      </div>
      <h4 class="laureate-prizes">Prizes</h4>
      <app-prize *ngFor="let prize of laureate.value.prizes" [prize]="prize"></app-prize>
    </div>

    <div class="recomandations">
      <a *ngFor="let recom of recomandations" [routerLink]="['laureate', recom.id]">
        {{recom.value.surname + ' ' + recom.value.firstname}}
      </a>
    </div>
  </div>
</div>
