.laureate-content {
    display: flex;
    margin-left: 30px;
    flex-direction: column;
}

.laureate-name {
    font-size: 40px;
    width: 100%;
    margin-left: 30px;
    font-weight: bold;
}

.laureate-toolbar {
    margin-bottom: 20px;
}

.laureate-details {
    font-size: 23px;
    margin-left: 20px;
    line-height: 1.5em;
    text-indent: 15px;
    display: flex;
    
    .img-wrap {
        margin-left: 150px;
        height: 300px;
        width: auto;
        img {
            min-width: 100%;
            min-height: 100%;
        }
    }
}

.laureate-prizes {
    font-size: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 40px;
    font-weight: bold;
    color: rgb(63, 81, 181);
}