<div *ngIf="laureate">
  <div>
    {{laureate.value.surname + ' ' +
    laureate.value.firstname}}
  </div>
  <div>
    {{laureate.value.born + ' ' +
    laureate.value.bornCity + ' ' +
    laureate.value.bornCountry + ' ' +
    laureate.value.bornCountryCode}}
  </div>
  <div>
    {{laureate.value.died + ' ' +
    laureate.value.diedCity + ' ' +
    laureate.value.diedCountry + ' ' +
    laureate.value.diedCountryCode}}
  </div>
  <app-prize *ngFor="let prize of laureate.value.prizes" [prize]="prize"></app-prize>
</div>
