<div *ngIf="laureate">
  <h2 class="laureate-name">
    {{laureate.value.surname + ' ' +
    laureate.value.firstname}}
  </h2>
  <div class="laureate-details">
    <div class="laureate-born">
      {{laureate.value.born + ' ' + 'in' +
      laureate.value.bornCity + ', ' +
      laureate.value.bornCountry}}
    </div>
    <div class="laureate-died">
      {{laureate.value.died + ' ' +
      laureate.value.diedCity ? laureate.value.diedCity : '' + ' ' +
      laureate.value.diedCountry ? laureate.value.diedCountry : ''}}
    </div>
  </div>
  <h4 class="laureate-prizes">Prizes</h4>
  <app-prize *ngFor="let prize of laureate.value.prizes" [prize]="prize"></app-prize>
</div>
